/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    background: linear-gradient(120deg, #74ebd5, #9face6);
    color: #444;
    /* font-family: Arial, sans-serif; */
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: linear-gradient(to right, #74ebd5, #acb6e5); */
    animation: fadeInPage 1s ease-in-out;
}

@keyframes fadeInPage {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container {
    background: white;
    border-radius: 15px;
    margin: 50px auto;
    max-width: 1200px;
    width: 90%;
    padding: 20px;
    box-shadow: 0px 8px 15px rgba(0,0,0,0.2);
    animation: fadeIn 0.8s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

h1 {
    font-size: 3rem;
    color: #0072ff;
    text-align: center;
    /* margin-bottom: 50px; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

h1 img {
    width: 30%;
}

h1 div {
    display: flex;
    flex-direction: column;
}

h1 div small {
    font-size: small;
}

/* Modal Styles */
.modal {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.6s, opacity 0.6s ease-in-out;
}

.modal.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.6s ease-in-out;
}

.modal-content {
    background: #fff;
    padding: 25px;
    width: 90%;
    max-width: 500px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    animation: slideDown 0.8s ease-in-out;
}

@keyframes fadeIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal-content h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.modal-content .highlight {
    color: #0072ff;
    font-weight: bold;
}

.modal-content p {
    font-size: 0.8rem;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: justify;
}

.modal-content ul {
    list-style-type: none;
    padding: 0;
    text-align: justify;
    margin-bottom: 15px;
}

.modal-content ul li {
    font-size: 0.8rem;
    line-height: 1.5;
}

.modal-content .note {
    display: flex;
    justify-content: center;
    font-size: 0.7rem;
    color: #555;
    font-style: italic;
    display: block;
    margin-top: 15px;
}

@keyframes slideDown {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

h2 {
    font-size: 2rem;
    color: #34495e;
    margin: 30px 0;
    text-align: center;
    /* display: flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0; */
    animation: fadeIn 1s ease forwards;
}

h2 img {
    border: 2px solid #bdc3c7;
    padding: 5px;
    border-radius: 50%;
    margin-right: 15px;
}

/* Section Background */
section {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

section>div {
    margin-bottom: 50px;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 15px 0;
}

section img {
    width: 25%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
}

.question-section {
    display: none;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.question-section.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.options {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 10px;
    margin-left: 16px;
    margin-top: 17px;
}

input[type="radio"], select, input[type="range"], .slider, .options>label {
    cursor: pointer;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="text"], input[type="number"], input[type="range"], select, button {
    border: 2px solid #bdc3c7;
    transition: border-color 0.3s, box-shadow 0.3s;
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    font-size: 1rem;
    border-radius: 8px;
    outline: none;
}

.slider-value {
    font-size: 16px;
    font-weight: bold;
    color: #0072ff;
    /* margin-top: 10px; */
    text-align: center;
}

input:focus, select:focus {
    border-color: #3498db; /* Blue color for valid focus */
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.8);
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0%, 100% {
        box-shadow: 0 0 8px rgba(52, 152, 219, 0.8);
    }
    50% {
        box-shadow: 0 0 12px rgba(52, 152, 219, 1);
    }
}

input.error, .options > input.error, select.error {
    border-color: #a70000; /* Red color for invalid input */
    box-shadow: 0 0 5px rgba(167, 0, 0, 0.5);
}

input.valid, select.valid {
    border-color: #3498db; /* Blue color for valid input */
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.5);
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

button {
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    color: #fff;
    font-weight: 600;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, background 0.3s;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    animation: fadeIn 0.8s ease-out;
}

button:hover {
    transform: scale(1.1) translateY(-5px);
    background: linear-gradient(90deg, #0072ff, #00c6ff);
}

/* Animations */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.question-section.active {
    animation: slideIn 0.5s ease-out;
}

#preview-content p {
    margin-bottom: 10px;
}


/* Full-Screen Loading Screen */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
}

/* Show the loading screen */
#loading-screen.show {
    opacity: 1;
    visibility: visible;
}

.loading-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Spinning Dots Loader */
.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    position: relative;
}

.spinner::before,
.spinner::after {
    content: "";
    width: 15px;
    height: 15px;
    background-color: #3498db;
    border-radius: 50%;
    position: absolute;
    animation: spin-dots 1.2s infinite alternate ease-in-out;
}

.spinner::after {
    background-color: #f39c12;
    animation-delay: 0.6s;
}

/* Animation for spinning dots */
@keyframes spin-dots {
    0% { transform: translateX(-20px) scale(1); }
    50% { transform: translateX(20px) scale(1.5); }
    100% { transform: translateX(-20px) scale(1); }
}

/* Text below loader */
.loading-content p {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 15px;
    animation: fadeIn 1.5s infinite alternate;
}

/* Fade-in effect */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}



















/* Risk Level Bar */
.risk-container {
    width: 80%;
    margin: 20px auto;
}

#risk-bar-container {
    width: 100%;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    background: lightgray;
    position: relative;
    border-radius: 10px;
}

#risk-bar {
    height: 100%;
    width: 0;
    background: green;
    border-radius: 10px;
    transition: width 1s ease-in-out, background-color 1s ease-in-out;
}

.risk-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    width: 100%;
}

.risk-labels .label {
    flex: 1;
    text-align: center;
    font-size: 12px;
    line-height: 1.2;
    padding: 3px 5px;
    white-space: normal;
    word-wrap: break-word;
}

.label.highlighted {
    font-weight: bold;
    color: black;
}

/* Gauge Meters */
.gauge-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.gauge {
    width: 250px;
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    width: 12rem;
    height: 7rem;
}

.gauge p {
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
    font-weight: bold;
}

/* Do's & Don'ts Section */
.recommendations-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.recommendations-container div {
    flex: 1;
    min-width: 250px;
}

ul {
    margin: auto 10%;
    padding: 0;
}

li {
    padding: 5px;
    font-size: 18px;
}

/* PDF Button */
#generate-pdf {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#generate-pdf:hover {
    background-color: #45a049;
}



























/* Mobile Adjustments */
@media screen and (max-width: 768px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    h1 {
        font-size: 1.5rem;
        /* text-align: center; */
    }
    h1 div small {
        font-size: x-small;
    }
    h2 {
        font-size: 1.1rem;
        /* text-align: center; */
    }
    section img {
        width: 50%;
    }

    /* .risk-labels .label {
        font-size: 10px;
    } */

    /* Vertical Mode for Mobile Screens */
    #risk-bar-container.vertical {
        width: 30px;
        height: 260px;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        position: relative;
        right: 55px;
    }

    #risk-bar-container.vertical #risk-bar {
        width: 100%;
        height: 0%;
        position: absolute;
        bottom: 0;
        transition: height 1s ease-in-out;
    }

    .risk-labels {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin-left: 35px;
        height: 100%;
        gap: 15px;
    }

    .risk-labels .label {
        text-align: left;
        font-size: 14px;
        white-space: nowrap;
    }

    /* Stack Gauge Meters on Small Screens */
    .gauge-container {
        flex-direction: column;
        align-items: center;
    }

    .gauge {
        width: 200px;
        height: 160px;
    }


    /* Stack Gauges Vertically on Small Screens */
    .gauge-container {
        flex-direction: column;
        align-items: center;
    }

    .gauge {
        width: 220px;
        height: 160px;
    }

    /* Risk Bar Adjustments */
    #risk-bar-container {
        width: 100%;
        height: 20px;
    }

    /* Center Buttons */
    .button-group {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    /* Adjust Table Layout */
    .recommendations-container {
        flex-direction: column;
        align-items: center;
    }
}


